
/*CSS variables*/

:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: arial, helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}
button {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}
button:hover {
  color: var(--dark);
  background: var(--light);

}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

/*Top container*/

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'showcase showcase'
  'top-box-a top-box-b';
}

/*showcase*/

.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(img/books.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  text-align: center;

}

.showcase h1 {
  background-color: var(--dark);
  opacity: 0.8;
  text-shadow: var(--dark);
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  background-color: var(--dark);
  opacity: 0.8;
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

/*top box*/
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}
.bookBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bookList {
  border: 1px solid black;

  padding: 10px;
}
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.books {
  list-style: none;

}


/* Footer */

footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Media Queries */

@media(max-width: 700px) {
  .top-container {
    grid-template-areas:
    'showcase'
    'top-box-a'
     'top-box-b';
  }

  .showcase h1 {
    font-size: 2.5rem;
    text-align: center;
  }

.main-nav ul {
  grid-template-columns: 1fr;
}

.btn {
  display: block;
  text-align: center;
  margin: auto;
}
.bookList {
  display: inline-block;
  padding: 5px;
}

@media(max-width: 500px) {
  .top-container {
    grid-template-areas:
    'showcase'
    'top-box-a'
    'top-box-b';
  }
}
